*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
    list-style: none;
    font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; 
}
.main-nav {
    display: flex;
    height: 8vh;
    justify-content: space-between;
    align-items: center;
    color: #e7e419;
    background: #000;
  }
  .logo {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 1.25rem;
    padding: 0 2rem;
  }

  .nav-links {
    display: flex;
    width: 35%;
    justify-content:space-around;
  }

  /* .nav-links > li > a {
    margin-right: 0.3rem;
    margin-left: 0.3rem;
    color:#e7e419;
    border-bottom: 0.1875rem solid black;
} */

/* .nav-links > li > a.active, .nav-links > li > a.active:focus {
    border-bottom: 0.1875rem solid red;
} */

.nav-links > li > a:hover{
    border-bottom: 0.2075rem solid yellow;
}

  .burger {
    display: none;
    padding: 0.5rem;
    cursor:pointer;
  }

  .line {
    height: 2px;
    width: 35px;
    margin: 0.5rem 0;
    background: #daf8e3;

    transition: transform 0.75s ease, opacity 0.75s ease;
  }

  @media screen and (max-width: 800px) {
    .nav-links {
      width: 60%;
    }
  }

  .main-nav.show .first {
    transform: translate(-10px) rotate(45deg) translate(15px);
  }
  .main-nav.show .second {
    opacity: 0;
  }
  .main-nav.show .third {
    transform: translate(-10px) rotate(-45deg) translate(15px);
  }
  .main-nav.show .nav-links {
    transform: translateX(0%);
  }

  @media screen and (max-width: 800px) {
    .nav-links {
      width: 60%;
    }
  }

  @media screen and (max-width: 800px) {
    .burger {
      display: block;
    }
    .nav-links {
        position: fixed;
        top: 8vh;
        right: 0;
        height: 92vh;
        width: 50%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background: #000000;
        transform: translateX(100%);
        transition: transform 1s ease;
        box-shadow: 0px 1px 5px rgba(244, 248, 9, 0.5);
      }
      .nav-links > li > a:hover{
        border-bottom: 0.2075rem solid rgb(0, 255, 55);
    }
}